#CONFIG DO POSTGRES
POSTGRES_PASSWORD=${senha do banco}
POSTGRES_DB=${nome do banco}
POSTGRES_USER=${usuario do banco}
#CONFIG DO BACK
BACK_POSTGRES_HOSTNAME=${host do banco no backend}
BACK_POSTGRES_PORT=${porta do banco}
BACK_POSTGRES_BD=${nome do banco}
BACK_POSTGRES_PASSWORD=${senha do banco para o backend}